[submodule "www/iotcat.me"]
	path = www/iotcat.me
	url = git@github.com:IoTcat/iotcat.me-homepage.git
[submodule "www/ushio.cool"]
	path = www/ushio.cool
	url = git@github.com:iotcat/ushio-homepage
[submodule "www/redrange"]
	path = www/redrange
	url = git@github.com:IoTcat/redrange.me.git
[submodule "www/img"]
	path = www/img
	url = git@github.com:IoTcat/ushio-img.git
[submodule "www/v2ray"]
	path = www/v2ray
	url = git@github.com:IoTcat/ushio-net.git
[submodule "www/acg.watch"]
	path = www/acg.watch
	url = git@github.com:iotcat/acg.watch
[submodule "www/blog"]
	path = www/blog
	url = git@github.com:iotcat/eee.dog-public
[submodule "www/birthday"]
	path = www/birthday
	url = git@github.com:IoTcat/birthday.git
